__pycache__/
*.py[cod]
.DS_Store
.venv/
.pip-cache/

data/db/*.sqlite
data/db/*.sqlite-*
!data/db/.gitkeep
data/source_videos/
data/images/**/*
!data/images/.gitkeep
!data/images/*/
!data/images/*/.gitkeep
